@use "../../foundation/forwards" as *;

.p-detail-btn {
  display: block;
  font-weight: bold;
  color: $c-gray;
  background-color: $c-white;
  text-align: center;
  border-radius: 20px;
}
.p-pagenation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $c-gray;
  height: 22px;

  @include breakpoint(tablet) {
    justify-content: center;
  }
  &__count {
    margin-right: 15px;
    white-space: nowrap;
  }
  & ul {
    display: flex;
    flex-direction: row;
    height: 100%;

    @include breakpoint(sp) {
      width: 100%;
      justify-content: space-between;
    }
    & li {
      width: auto;
      height: 100%;
      & .page-numbers {
        display: block;
        width: 35px;
        height: 35px;
        border: 1px solid $c-gray;
        text-align: center;
        line-height: 3.3rem;
        margin-left: 15px;
        font-weight: bold;
        color: $c-brown;
        @include breakpoint(sp) {
          display: none;
        }
        &.current {
          background-color: $c-brown;
          color: $c-white;
        }

        &.prev,
        &.next {
          display: flex;
          align-items: center;
          border: none;
          width: auto;
        }
      }
    }
  }
}

.p-button {
  width: 100%;
  height: 80px;
  font-weight: bold;
  background: linear-gradient(to right, #f2ede9, #ded8d3);
  color: $c-brown;
  border-radius: 20px;
  text-align: center;
  border: 1px solid $c-gray;
  & span {
    line-height: 8rem;
  }

  @include breakpoint(tablet) {
    width: 50%;
    max-width: 430px;
  }
}
