@use "../../foundation/forwards" as *;

//front-page
.p-service-card {
  position: relative;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: $sp-card-max-width;
  margin-bottom: 20px;
  @include breakpoint(tablet) {
    margin-bottom: 0;
    max-width: none;
    max-width: $tablet-card-max-width;
    flex: 1;
  }

  @include breakpoint(pc) {
    max-width: 615px;
    max-width: $pc-card-max-width;
  }
  &__title {
    color: $c-white;
    font-weight: bold;
    font-size: 4.1rem;
    line-height: 4.8rem;
    margin-bottom: 70%;

    &::after {
      content: "";
      display: block;
      width: 34px;
      height: 4px;
      background-color: $c-white;
      margin-top: 20px;

      @include breakpoint(tablet) {
        margin-top: 25px;
      }
      @include breakpoint(pc) {
        margin-top: 43px;
      }
    }
  }

  &__item {
    background-color: $c-white;
    opacity: 0.8;
    color: $c-brown;

    &__title {
      font-size: 2.2rem;
      font-weight: bold;
      line-height: 2.4rem;
      margin-bottom: 8px;

      @include breakpoint(tablet) {
        font-size: 2.4rem;
      }
    }

    &__desc {
      @include breakpoint(tablet) {
        font-size: 1.4rem;
        line-height: 2rem;
      }
    }
  }
}

.p-info-card {
  position: relative;
  width: auto;
  height: 100%;
  max-width: $sp-max-width;
  color: $c-white;
  z-index: 700;
  @include breakpoint(tablet) {
    max-width: $tablet-max-width;
  }
  @include breakpoint(pc) {
    width: 50%;
  }

  &__title {
    font-weight: bold;
    font-size: 3rem;
    line-height: 4.45rem;
    @include breakpoint(pc) {
      font-size: 3.6rem;
      line-height: 5.34rem;
    }
    &::after {
      content: "";
      display: block;
      width: 75px;
      height: 2px;
      background-color: $c-white;
      margin-top: 15px;

      @include breakpoint(tablet) {
        margin-top: 25px;
      }
      @include breakpoint(pc) {
        margin-top: 50px;
      }
    }
  }

  &__desc {
    width: auto;
    height: auto;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 33px;
    margin-top: 14px;

    @include breakpoint(pc) {
      margin-top: 58px;
      font-size: 1.6rem;
    }
  }
}

.p-product-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: $c-white;

  &:not(:last-child) {
    margin-bottom: 20px;

    @include breakpoint(pc) {
      margin-bottom: 30px;
    }
  }

  &:last-child {
    margin-bottom: 60px;
    @include breakpoint(tablet) {
      margin-bottom: 100px;
    }

    @include breakpoint(pc) {
      margin-bottom: 150px;
    }
  }

  @include breakpoint(tablet) {
    flex-direction: row;
  }

  &__img {
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 230px;
    @include breakpoint(tablet) {
      height: auto;
    }
  }

  &__content {
    width: 100%;
    height: auto;
    background-color: $c-brown;

    &__name {
      font-size: 2rem;
      font-weight: 700;
      line-height: 3rem;
      margin-bottom: 20px;

      @include breakpoint(pc) {
        font-size: 3.6rem;
        line-height: 5rem;
        margin-bottom: 44px;
      }
    }

    &__title {
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 8px;

      @include breakpoint(pc) {
        font-size: 2.4rem;
        margin-bottom: 12px;
      }
    }

    &__desc {
      margin-bottom: 40px;
      @include breakpoint(tablet) {
        margin-bottom: 40px;
      }

      @include breakpoint(pc) {
        margin-bottom: 60px;
      }
    }

    &__btn {
      width: 160px;
      height: 42px;
      line-height: 4.2rem;
      margin: 0 auto;
      @include breakpoint(l-pc) {
        width: 300px;
        height: 76px;
        line-height: 7.6rem;
      }
    }
  }
}

//single
.p-media-card {
  display: flex;
  margin-bottom: 30px;
  gap: 10px;

  @include breakpoint(pc) {
    gap: 20px;
  }
  &__img {
    display: block;
    width: 45%;
    height: 50%;
    object-fit: cover;
    aspect-ratio: 3 / 2;
    max-height: 360px;
    max-width: 580px;
  }

  &__text {
  }
}
