@use "../../foundation/forwards" as *;

.p-hamburger {
  position: relative;
  width: 32px;
  height: 36px;
  font-weight: bold;
  color: $c-gray;

  @include breakpoint(tablet) {
    font-size: 3.4rem;
  }

  @include breakpoint(pc) {
    width: 100%;
    height: 100%;
  }
  & span {
    &::before {
      content: "\f00d";
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 5rem;
      line-height: 5rem;
      transform: translate(-50%, -50%);
    }
  }
  @include breakpoint(pc) {
    & span {
      &::before {
        content: "Menu";
        position: relative;
        top: 0;
        left: 0;
        font-size: 5rem;
        transform: translate(0,0);
      }
    }
  }
}
