@use "../../foundation/forwards" as *;

.p-hero-img {
  width: 100vw;
  height: 100%;
  background-image: url("../../images/main/mainvisual-pc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 calc(50% - 50vw);

}


.p-takeout-img{
  background-image: url("../../images/hamburger/burg_takeout.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.p-eatin-img{
  background-image: url("../../images/hamburger/burg_eatin.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}