@use "../../foundation/forwards" as *;

.p-search {
  position: relative;
  width: 100%;
  max-width: 318px;
  height: 46px;
  display: flex;
  justify-content: space-between;

  @include breakpoint(tablet) {
    max-width: 546px;
  }

  &::before {
    position: absolute;
    display: block;
    font-family: "Material Symbols Outlined";
    content: "\e8b6";  
    font-weight: 400;
    font-size: 4rem;
    line-height: 47px;
    margin-left: 4px;
    color: $c-gray;
  }

  & input{
    border: 1px solid $c-gray;
  }
  & input[type="text"] {
    border-radius: 10px;
    width: calc(100% - 102px); /* 100%からsubmitボタンの幅とマージンを引いた幅 */
    font-weight: bold;
    padding-left:30px;
    @include breakpoint(tablet) {
      width: calc(100% - 150px); /* 100%からsubmitボタンの幅とマージンを引いた幅 */
    }
  }

  & input[type="submit"] {
    display: block;
    width: 90px;
    border-radius: 10px;
    margin-left: 12px;
    color: $c-gray;
    font-weight: bold;

    @include breakpoint(tablet) {
      width: 136px;
      margin-left: 14px;
    }
  }
}
