@use "../foundation/forwards" as *;

.l-global-container {
  padding: 0 20px;
  height: auto;
  @include breakpoint(tablet) {
    padding: 0 5%;
  }
  @include breakpoint(pc) {
    padding: 0 120px;
  }
}

.l-menu-container {
  padding: 8px 11px 0 46px;

  @include breakpoint(tablet) {
    padding: 20px 25px 0 46px;
  }
  @include breakpoint(pc) {
    padding: 84px 20% 0 46px;
  }
}

.l-menu-list-container {
  padding: 40px 0 0 20px;

  @include breakpoint(tablet) {
    padding: 32px 0 0 20px;
  }
}

.l-service-container {
  display: flex;
  flex-direction: column;
  padding: 20px 0 calc(50px - 20px);
  height: auto;
  align-items: center;
  @include breakpoint(tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
    gap: 5.5%;
    padding: 40px 0;
  }
  @include breakpoint(pc) {
    padding: 120px 0 130px;
  }
}

.l-service-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 13px 16px 16px;
  height: 100%;

  @include breakpoint(tablet) {
    padding: 16px;
  }

  @include breakpoint(pc) {
    padding: 28px 15px 15px;
  }
}

.l-inner-card-container {
  padding: 16px;
}

.l-info-card-container {
  padding: 42px calc(40px - 20px) 57px; //calc 40px(デザインカンプ) 20px(global-container)
  height: 100%;

  @include breakpoint(tablet) {
    padding: 42px 0 40px;
  }

  @include breakpoint(pc) {
    padding: 86px 0 75px;
  }
}

.l-footer-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0;

  @include breakpoint(tablet) {
    padding: 30px 0 24px;
  }

  @include breakpoint(pc) {
    padding: 41px 0 27px;
  }
}
