@use "../foundation/forwards" as *;

.l-main {
  grid-area: main;
  width: 100%;
  height: auto;
  overflow: hidden;
  &__hero {
    height: 285px;
    display: flex;
    align-items: center;

    @include breakpoint(pc) {
      height: 530px;
    }
  }

  &__service {
    position: relative;
    background-color: $c-main-bg;
    display: flex;
    justify-content: center;
  }

  &__info {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    
    @include breakpoint(tablet) {
      display: block;
    }
  }
}


