@use "../foundation/forwards" as *;

.l-sidebar {
  grid-area: sidebar;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: all 0.3s ease;
  background-color: $c-sidebar-bg-cover;
  z-index: 900;

  @include breakpoint(pc) {
  position: relative;
  transform: translateX(0);

  }

  &.active {
    transform: translateX(0);
  }

  & .p-menu{
    z-index: 1000;
  }
}
